<div id="bizTypeSwitcher" class="modal fade bizTypeSwitcher" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header label-primary">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="home_change_id_biz">
        </h4>
      </div>
      <div class="modal-body biz-type-button">
        <div class="row list-group biz-types">
        </div>
      </div>
    </div>
  </div>
</div>
