<div class="modal fade" tabindex="-1" id="shortcutModal" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalTitle"></h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <div class="form-control modalMenu" id="menuList" >
                <table>
                  <tbody>
                  <tr></tr>
                  </tbody>
                </table>

              </div>
            </div>
            <div class="col-md-6">
              <div class="form-control modalMenu" id="menuBasket">

              </div>
            </div>
          </div>
        </div>
        <p id="tipForNumber" class="text-right">每个管理业务，最多可设置12个快捷入口</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="week-cancel">取消</button>
        <button type="button" id="save" class="btn btn-primary">保存</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->